<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          {% for s in site.social %}
            <li>
              <a href="{{s.url}}">{{s.title | upcase}}</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
          {% endfor %}
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Daniel Davison All Rights Reserved</p>
      </div>
      <div class="col-md-4">
        <a href="#top" class="pull-right">back to top</a>
      </div>
    </div>
  </div>
</footer>
